<div *ngIf="PokemonTraite" class=" relative max-w-sm rounded overflow-hidden shadow-lg m-4">
  
  <a (click)="goToHome()" class="bg-blue-700 cursor-pointer text-white p-4 flex items-center justify-center ring-0  z-30">Retour</a>
  <a *ngIf="pokemonId" (click)="goToEditPokemon(+pokemonId)" class="bg-blue-700 cursor-pointer text-white p-4 flex items-center justify-center ring-0  z-30">Editer</a>
  <img class="w-[200px] h-[200px]" src="{{ PokemonTraite.sprites?.front_default }}" alt="{{ PokemonTraite.name }}">
    <div class="px-6 py-4 z-10 ">
      <div class="font-bold text-xl mb-2">{{ PokemonTraite.name }}</div>
      <div class="mb-2">
        <span class="text-gray-700">Types :</span>
        <ul class="inline">
          <li *ngFor="let type of PokemonTraite.types" class="text-blue-500">{{ type.type.name }}</li>
        </ul>
      </div>
      <div class="mb-2">
        <span class="text-gray-700">Taille :</span>
        <p>{{ PokemonTraite.height }} dm</p>
      </div>
      <div class="mb-2">
        <span class="text-gray-700">Poids :</span>
        <p>{{ PokemonTraite.weight }} hg</p>
      </div>
    </div>
  </div>

  <div *ngIf="!PokemonTraite">

    aucun pokemon trouver

  </div>
  